html {
    font-size: 125%;
}

body {
    font-family: 'Itim', cursive;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    @include fontSize(72);
}

.quoteContainer {
    text-align: center;
}

button {
    font-family: 'Itim', cursive;
    text-transform: uppercase;
}